@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    margin: 0;
    border: 0;
  }
p, u{
   font-family: 'Nunito', sans-serif ;
    color: black;
    font-weight: bolder ;
    font-size: 14px;
    
    
}
   h1{
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 20px;
    margin-bottom: 1%;
   }
  .contenidor{
    background-color: #B8F3BE;
    padding-left: 15%;
    padding-right: 15%;
  
  }
  /*---------------------------cabecera----------------------------------*/
  .contenidor{
    min-height: 12vh;
    box-shadow: 2px 2px 5px rgb(170, 167, 167);
    
  }
  .logo{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 2%;
  }
  .logo r{ /*----Cosmetic*/
    color: black;
    font-family: 'Whisper';
    text-decoration: none;
    font-size: 35px;
    font-weight: normal;
  }
  .test1{
   padding-right: 0%;
   font-family: 'Nunito', sans-serif;
   color: black;
   font-size: 18px;
   font-weight:500;
  }
  
  nav{ /*ordenar los elementos de la cabecera*/
    display: flex;
    padding: 2% 6% 0% 0%;
    justify-content: space-between;
    align-items: center;
    margin-right: 0%;
    width: 100%;
   
  }
  /*darle formato al menú*/
  .menu{
    flex: 1;
    text-align: right;
  }
  .menu ul li{
    list-style: none;
    display: inline-block;
     padding: 0px 12px; 
    position: relative;
    margin-left: 1%;

  }
  li a{
    text-decoration: none;
   
  }
  

  
  /*BARRAS CON MOVIMENTO BAJO LOS TEXTOS DEL MENÚ*/
  .menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
    
  }
  /*LAS BARRAS CONFIGURADAS ARRIBA NO APARECEN HASTA QUE SUCEDA EL CÓDIGO DE ABAJO*/
  .menu ul li:hover::after{
    width: 100%;
  }
  
  /*--------------------fin cabezera---------------------------------------------------------------------------------*/
  /*--------------------1r recuadro---------------------------------------------------------------------------------*/
  
  .welcomAbout{
    /* background-color: red; */
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%; 
    /* background-color: aqua; */
  }
  .welcome{
    padding: 20px 20px 25px 30px;
    border: 1px dashed black;
    text-align: center; 
  }
  #graphic{
    width : 15%;
    padding-left: 2%;
    margin-top: -4%;
    margin-bottom: 0%;
  }

  /*-----------------------------titulo y explicación proyects*/
 .peojectsContent{
    
    margin-left: 28%;
    margin-right: 15%;
    margin-top: -2%;
 }
 .priject{
    margin-bottom: 8%;
   
 }
 .row{
    display: flex;
    flex-direction: row;
 }
 .priject p {
    border-top: 1px dashed black;
    padding-top: 1%;
    /* margin-right: 5%; */
    text-align: justify;
    
 }
 .codeAndVideo{
  margin-left: 10%;
 
 }
 .codeAndVideo a img{
    width: 24%;
    margin-left: 20%;
  
 }  
 
u{ 
    padding-top: 3%;
    width: 100%;
   
}
    
 .cv{
   display: flex;
   align-content: center;
   margin-bottom: 10%;
   margin-top: 10%;
 }
   /*-----------------------------titulo y explicación proyects*/

/****************HOVER IMAGENES---------------------------------*/
.cv a img:hover{
  cursor: pointer;
  width: 22%;
  padding-bottom: 2%;

}
/****************HOVER IMAGENES---------------------------------*/

/*-----------------------------------------------froother*/
.foot{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px 20px 20px 20px;
  background-color: #b8f3b8;
}
